# =========================
# FRONTEND
# =========================

node_modules
dist
dist-ssr
*.local

# =========================
# BACKEND
# =========================

target/
*.class
*.jar
*.war

# =========================
# ENV
# =========================

backend/.env
frontend/.env
.env
.env.*
application-local.properties

# =========================
# LOGS
# =========================

logs
*.log

# =========================
# IDE
# =========================

.vscode/*
!.vscode/extensions.json

.idea
.DS_Store

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
